[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
jupyter = "*"
"bs4" = "*"
requests = "*"
pandas = "*"
geocoder = "*"
xlrd = "*"
openpyxl = "*"
tox = "*"

[dev-packages]
